body{
    margin:0;
    width: 100%;
    height: 100%;
    background-color: pink;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: flex-end;


}
.nav{
    display: flex;
    list-style-type: none;
}
.nav li{
    margin: 30px;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(67, 18, 90);
}

h1{
    display: flex;
    justify-content:center;
    color: darkgreen;
    font-family: fantasy;
    font-size:xx-large;
} 

.item{
    margin: 30px;
}

.buttons {
    display: flex;
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 30px;
}


.like-btn{
    display: inline-block;
    Cursor: pointer;
    color: blue;
    margin-left: 20px;

}

.delete-btn {
    width: 18px;
    height: 17px;
 
}
.plusminus{
    margin-left: 50px;
}
.minus-btn {
  margin-bottom: 3px;
}
.plus-btn {
  margin-top: 2px;
}
 
.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
.price{
  font-size: larger;
  font-family: cursive;
  margin-left: 88px;
}

.quantity {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    width: 20px;
    height: 20px;
}
.dress{
    display:flex;
    margin: 10px;
    margin-top: 50px;
    justify-content: center;

}
.dress1 {

 width: 200px;
 height: 200px;
}

.t-shirt{
    display:flex;
    margin: 10px;
    margin-top: 50px;
    justify-content: center;
    
}
.t-shirt1{
    width: 200px;
    height: 200px;
}

.bag{
    display:flex;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: center;
}
.bag1{
 width: 200px;
 height: 200px;
}
